body {
  background-color: #d7c5e7;
}
h1 {
  color: #232384;
}
p {
  color: #0c3713;
}

ul.a {
  list-style-type: circle;
  color: green;
  font-family: verdana;
}

ul.b {
  list-style-type: square;
  color: blue;
  font-family: verdana;
  
}

ol.c {
  list-style-type: upper-roman;
  font-family: verdana;
}

ol.d {
  list-style-type: lower-alpha;
  font-family: verdana;
}